html,body{
    height: 100%;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board{
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    font-family: Arial,sans-serif,inherit;
   
}
.board div{
    width: calc(464px / 3);
    height: calc(464px / 3);
}
h1{
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.announcer{
    margin-bottom: 2em;
    font-size: 2em;
    min-height: 40px;
}
button.restart{
    padding: .25em .75em;
    font-size: 25px;
    margin-top: .5in;
    background-color: rgba(128, 125, 125, 0.534);
    cursor: pointer;
}


.piece{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* don't know a better solution for signature
tic tac toe board */
#one,#two,#three,
#four,#five,#six{
    border-bottom: 8px solid black;
}
#one,#two,#four,
#five,#seven,#eight{
    border-right: 8px solid black;
}

